body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}



html {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

#html_register{ /*Add ID*/
    background-image: url(./Login.jpeg);
}

#html_login { /*Add ID*/
    background-image: url(./Login.jpeg);
}

#html_index{ /*Add ID*/
    background-image: url(./Login.jpeg);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
}

#container_register{ /*Add ID*/
    background-color: rgba(255,255,255,0.6);
    border-radius: 15px;
    box-shadow: -3px 3px rgba(255, 255, 255, 0.3);
}

#container_login{ /*Add ID*/
    background-color: rgba(255,255,255,0.6);
    border-radius: 15px;
    box-shadow: -3px 3px rgba(255, 255, 255, 0.3);
}

#container_index{ /*Add ID*/
    background-color: rgba(255,255,255,0.6);
    border-radius: 15px;
    box-shadow: -3px 3px rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading {
    margin-bottom: 20px; /* Add some space between the heading and the hyperlink */
}

.hyperlink {
    text-align: left;
    margin-top: 10px; /* Add some space between the heading and the hyperlink */
}

h1, h2 {
    text-align: center;
}
#h1_index, #h2_index{ /*Add ID*/
    color: black;
}
.form {
    text-align: center;
}

.form input[type="file"] {
    margin-bottom: 10px;
}

.error {
    color: red;
}

.btn {
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#btn_register{ /*Add ID*/
    background-color: rgb(93, 198, 96);
    padding: 6px 25px;
}

#btn_login{ /*Add ID*/
    background-color: rgb(93, 198, 96);
    padding: 6px 25px;
}

.file-list {
    list-style: none;
    padding: 0;
}
.file-list li {
    margin-bottom: 10px;
}

.logout {
    float: right;
    margin-top: -40px;
    color: #4CAF50;
    text-decoration: none;
}

.logout:hover {
    text-decoration: underline;
}

input {
    width: 95%;
    padding: 10px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.title{
    font-size: 15px;
    text-align: center;
    color: black;
    user-select: none;
    border-radius: 15px 20px 15px 20px;
}



.field input{
    height: 50%;

    outline: none;
    font-size: 17px;
    padding-left: 20px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.field input:focus, .field input:valid {
    border-color: #4158d0;
}

.field input[type="submit"] {
    color: #fff;
    border: none;    

    font-size: 14px;

    padding-bottom: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
}

.field_index input[type="submit"]{ /*Change class*/ /*Check*/
    color: #fff;
    border: none;    
    margin-top: -10px;
    font-size: 12px;
    padding-bottom: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
}

.a_login{ /*ADD Class*/
    font-weight: bold;  
}
.btn::value {
    vertical-align: middle !important; /* Align label vertically */
}

#btn_login:hover { /*Add ID*/
    background-color: rgb(10, 224, 17);
}
