<!-- templates/login.html -->
<!DOCTYPE html>
<html id="html_login">
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container" id="container_login">
        <h1>Login</h1>
        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}
        <form action="{{ url_for('login') }}" method="post" class="form">
            <input type="text" id="username" name="username" placeholder="Username" class="user_pass"required><br><br>
            <input type="password" id="password" name="password" placeholder="Password" class="user_pass" required><br><br>
            <input type="submit" value="SUBMIT" class="btn" id="btn_login">
        </form>
        <p>Don't have an account? <a href="{{ url_for('register') }}" class="a_login">Register here</a></p>
    </div>
</body>
</html>

