<!-- templates/login.html -->
<!DOCTYPE html>
<html id="html_login">
<head>
    <title>Login</title>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"> -->
     <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="ring">
        <i style="--clr:#00ff0a;"></i>
        <i style="--clr:#ff0057;"></i>
        <i style="--clr:#fffd44;"></i>
        <div class="login">
          <h2>Login</h2> 
          {% if error %}
          <p class="error">{{ error }}</p>
          {% endif %}
          <form action="{{ url_for('login') }}" method="post" class="form">
          <div class="inputBx">
            <input type="text" placeholder="Username" class="user_pass"required><br><br>
          </div>
          <div class="inputBx">
            <input type="password" placeholder="Password" class="user_pass" required><br><br>
          </div>
          <div class="inputBx">
            <input type="submit" value="Sign in"><br><br>
          </div>
          <div class="links">
        
            <p>Don't have an account?

            </p>
            <a href="{{ url_for('register') }}" class="a_login"> Sign up</a>
          </div>
        </div>
    </form>
      </div>
</body>
</html>

