<!-- templates/register.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Register</h1>
        <form action="{{ url_for('register') }}" method="post" class="form">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required><br><br>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required><br><br>
            </div>
            <div>
                <input type="submit" value="Register" class="btn">
            </div>
        </form>
        <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
    </div>
</body>
</html>

